src/main/mule/aws-s3-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:s3="http://www.mulesoft.org/schema/mule/s3" 
	 xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	 xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

	
	<configuration-properties file="mule-app-properties.yaml" doc:name="Configuration properties" doc:id="872422be-3571-4a52-a383-a2b0e16859d7" />
	
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="860c8cad-9fb4-4af3-9fcd-f03bfc6185e3" >
		<http:listener-connection port="8081" host="0.0.0.0"/>
	</http:listener-config>
	<s3:config name="Amazon_S3_Configuration" doc:name="Amazon S3 Configuration" doc:id="be2dbb36-7d43-4a04-a6f5-f1ae3e02c5e4" >
		<s3:basic-connection accessKey="${aws.key}" secretKey="${aws.secret}" />
	</s3:config>
	<flow name="aws-s3-exampleFlow" doc:id="ba89732d-1471-42dd-8d68-2ae480d321a4" >
		<http:listener doc:name="Listener" doc:id="8b02d8de-9e5e-4987-b804-7ff6ba2a71cc" config-ref="HTTP_Listener_config" path="witsml"/>
		<set-variable value="${output.dir}" doc:name="Set Variable" doc:id="9373ba99-5d7b-44ed-8ad1-25ee6758c86a" variableName="outputDir"/>
		<s3:list-objects doc:name="List objects" doc:id="4823989a-5355-4fd0-a4d0-7bd88ca4a77e" config-ref="Amazon_S3_Configuration" bucketName="${aws.bucketName}" maxKeys="5"/>
		<foreach doc:name="For Each" doc:id="88b97510-160b-4aec-b0b9-229d1e0fba1f" >
			<set-variable value="#[payload.key]" doc:name="Set Variable" doc:id="d1e45b7a-329d-4ea9-82d3-bf92bf9593ab" variableName="fileName"/>
			<s3:get-object doc:name="Get object" doc:id="5affcbc5-15bb-4968-917b-98493391f70c" config-ref="Amazon_S3_Configuration" bucketName="#[payload.bucketName]" key="#[payload.key]"/>
			<logger level="INFO" doc:name="Logger" doc:id="587b3cc4-436d-4c38-b193-c36b9dccc34a" />
			<file:write doc:name="Write" doc:id="74c442cc-2eea-4c35-b41a-0e1250c54280" path="#[vars.outputDir ++ vars.fileName]"/>
		</foreach>
	</flow>
</mule>
